body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #494b59;
}

.features {
    background: #f0f0f0;
    padding: 7em 0;
}

.tool-features {
    background: #fafafa;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0 4em;
    box-shadow: 10px 10px 20px 0px rgb(73 75 89 / 30%);
}

.features-title {
    padding: 4em 0 3em;
}

.title {
    font-size: 30px;
    font-weight: 200;
    margin: 0 0 0.2em;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
}

.description {
    width: 549px;
    font-size: 15px;
    margin: 2em auto 0;
}

#box {
    display: inline-block;
}

.box-description {
    text-align: justify;
    margin: 0 0 3em 0;
}

.box-description h1 {
    font-size: 20px;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.supervisor, .team-builder, .karma, .calculator {
    background: #ffffff;
    width: 277px;
    text-align: initial;
    box-sizing: border-box;
    border-top: 3px solid #000000;
    border-radius: 5px;
    padding: 1.5em;
    box-shadow: 10px 10px 20px 0px rgb(73 75 89 / 30%);
}

.supervisor:hover, .team-builder:hover, .karma:hover, .calculator:hover {
    width: 287px;
    height: 205px;
    transition: 400ms;
}

.supervisor, .calculator {
    vertical-align: top;
    margin: 9em 0;
}

.supervisor {
    border-color: #49d0cf;
}

.features-box {
    text-align: initial;
    margin: 0 1.5em;
}

.team-builder {
    margin: 0 0 1.5em;
    border-color: #ea5453;
}

.karma {
    border-color: #f8ae4f;
}

.calculator {
    border-color: #569beb;
}

.icon {
    text-align: right;
}

.attribution {
    width: 940px;
    margin: 0 auto;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {
    .features {
        background: #fafafa;
        padding: 0;
    }

    .tool-features {
        text-align: center;
        width: auto;
        padding: 3em 1em;
        box-shadow: none;
    }

    .description {
        width: auto;
    }

    .features-box {
        margin: 0 0 0 0;
    }

    .supervisor, .team-builder, .karma, .calculator {
        margin: 0 0 2em;
    }

    .icon img {
        width: 40px;
    }

    .attribution {
        margin: 0 auto;
        width: auto;
    }
}